/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    color: #cdd6f4; /* text */
    background-color: rgba(30, 30, 46, 0.95); /* base */
    font-family: JetBrainsMonoNerdFont;
    font-size: 13px;
    border-radius: 5px;
}

*:hover {
    border-radius: 5px;
    transition: background 0.3s;
}

.modules-left > widget:first-child > * {
    margin-left: 15px;
}

.modules-right > widget:last-child > * {
    margin-right: 15px;
}

tooltip label {
    font-family: JetBrainsMonoNerdFont;
    font-size: 13px;
    color: #cdd6f4;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#window,
#network,
#privacy,
#custom-updates,
#custom-pacman,
#custom-keyboard-layout,
#cpu,
#temperature,
#disk,
#memory,
#wireplumber,
#battery,
#idle_inhibitor,
#backlight,
#bluetooth,
#tray,
#clock,
#custom-settings,
#custom-power,
#custom-reboot,
#custom-reboot-uefi,
#custom-log-off,
#custom-suspend,
#custom-lock {
    background: rgba(49, 50, 68, 0.7); /* surface0 */
    color: #cdd6f4; /* text */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 0.1rem 1rem;
    margin: 1px 1px;
}

#window:hover,
#network:hover,
#privacy:hover,
#custom-updates:hover,
#custom-pacman:hover,
#custom-keyboard-layout:hover,
#cpu:hover,
#temperature:hover,
#disk:hover,
#memory:hover,
#wireplumber:hover,
#battery:hover,
#idle_inhibitor:hover,
#backlight:hover,
#bluetooth:hover,
#tray:hover,
#tray .active:hover,
#clock:hover,
#custom-settings:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-reboot-uefi:hover,
#custom-log-off:hover,
#custom-suspend:hover,
#custom-lock:hover {
    background: rgba(137, 180, 250, 0.2); /* blue */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#custom-launcher,
#window,
#network {
    background: transparent;
    box-shadow: none;
}

#custom-launcher,
#custom-power {
    padding-right: 1.1rem;
}

#workspaces:hover {
    background: none;
}

#workspaces button {
    background: rgba(49, 50, 68, 0.6); /* surface0 */
    color: #cdd6f4;
    border-radius: 5px;
    padding: 0px 6px;
    margin: 0 2px;
}

#workspaces button.focused {
    border: 1px solid #89b4fa; /* blue */
}

#cpu:hover,
#custom-settings:hover {
    background-image: url('chevron-right.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

#window {
    border-style: hidden;
    margin-top: 1px;
}

#privacy {
    color: #f9e2af; /* yellow */
    background: rgba(249, 226, 175, 0.1);
}

#privacy:hover {
    background: rgba(249, 226, 175, 0.3);
}

#wireplumber.muted,
#bluetooth.off,
#idle_inhibitor.deactivated {
    color: #89dceb; /* sky */
}

#cpu.warning,
#memory.warning {
    color: #fab387; /* peach */
    background: rgba(250, 179, 135, 0.1);
}

#cpu.warning:hover,
#memory.warning:hover {
    background: rgba(250, 179, 135, 0.3);
}

#workspaces button.urgent,
#network.disabled,
#network.disconnected,
#cpu.critical,
#memory.critical,
#temperature.critical {
    background: #f38ba8; /* red */
    color: #1e1e2e;
}

#workspaces button.urgent:hover,
#network.disabled:hover,
#network.disconnected:hover,
#cpu.critical:hover,
#memory.critical:hover,
#temperature.critical:hover {
    background: rgba(243, 139, 168, 0.3); /* red */
}

@keyframes blink {
    to {
        color: #1e1e2e;
        background-color: #f38ba8;
    }
}

#battery.critical:not(.charging) {
    background: #f38ba8; /* red */
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
